<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>314490303486-l9istq58ni34ht5fe27345lf34md1f06.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.314490303486-l9istq58ni34ht5fe27345lf34md1f06</string>
	<key>API_KEY</key>
	<string>AIzaSyD20X3Af0WlPX5I8YBMnPcrhoJL1mf_Dhw</string>
	<key>GCM_SENDER_ID</key>
	<string>314490303486</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.authTest.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>posturt1-e256d</string>
	<key>STORAGE_BUCKET</key>
	<string>posturt1-e256d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:314490303486:ios:23d054757494e3c81286af</string>
</dict>
</plist>